@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin-spin infinite 2.0s linear;
  }
}

@keyframes spin-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
